*{
	margin: 0;
	padding: 0;
}
*{
	box-sizing: border-box;
}
.content {
	width: 500px;
	height: 315px;
	margin: 20px auto;
	overflow: hidden;
}
.content .slidesPicture {
	position: relative;
}
.content .slidesPicture > img {
	width: 100%;
	transition: all 0.3s;
	position: absolute;
	top: 0;
}
.content .slidesPicture > img.current {
	left: 0;
	transform: translateX(0);
	z-index: 1;
}
.content .slidesPicture > img.leave {
	transform: translateX(-100%);
	z-index: 1;
}
.content .slidesPicture > img.enter {
	transform: translateX(100%);
}